    @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif; */
@font-face {
    font-family: campus;
    src: url(/fonts/campus-fonts.ttf);
  }
  @font-face {
    font-family: blackishdemoregular;
    src: url(/fonts/BlackishDemoRegular.ttf);
  }
  
  

:root {
    /* --peru:#cd9452;
   --black:#222;
   --white:#fff;
   --light-black:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5; */
    /* --dark-bg:rgba(0,0,0,.7); */
    --border: 0.1rem solid #aaa;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
    text-transform: capitalize;
}

*>img {
    user-select: none;
    pointer-events: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

html::-webkit-scrollbar-thumb {
    background-image: linear-gradient( to right bottom, rgb(75, 34, 6), rgb(168, 138, 38));
}

section {
    padding: 5rem 10%;
}

.chef-ani {
    width: 100%;
    height: auto;
    background: #81A3A7;
}

.chef-order {
    animation-name: chef;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    color: white;
}

.chef {
    width: 120px;
    height: 120px;
    position: relative;
    /* z-index: 20000; */
    animation-name: chef;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes chef {
    0% {
        margin-left: 90%;
    }
    100% {
        margin-left: 0%;
    }
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.heading span {
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
}

.heading h3 {
    font-size: 4.5rem;
    color: black;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: black;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    transition: all 0.2s;
    border: 1px solid black;
    font-weight: 500;
}

.header {
    height:10vh;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #f2ebe9;
    z-index: 1000;
}


.header .navbar a {
    font-size: 1.8rem;
    padding: 1rem;
    /* font-weight: bold; */
    outline: none;
    color: black;
    font-weight: bold;
    border-color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif,Arial,tahoma;
    /* font-family: campus; */
}

.header .navbar a:hover {
    /* color: #b97309; */
    /* box-shadow: 0 0 10px white; */
    padding: 1rem;
    /* background: white; */
    border-radius: 5px;
}

#menu-btn {
    font-size:3rem;
    cursor: pointer;
    color: black;
    display: none;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-4rem) scale(0);
        opacity: 0;
    }
}

.home {
    padding: 0;
    background: #ffffff;
}

.home .slide {
    height: 75vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: -1;
}

.home .slide .content {
    text-align: center;
    width: 70rem;
    display: none;
}

.home .slide .content span {
    font-size: 3rem;
    display: block;
    padding-bottom: 0.5rem;
    color: #ccc;
    animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}

.home .slide .content h3 {
    font-size: 6vw;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    line-height: 1;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
}
.layer{
    width: 100%;
    height: 100%;
    position: relative;
}

.home .slide .content .btn {
    animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.6s backwards;
}

.home .swiper-slide-active .content {
    display: inline-block;
}

.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    /* background: #f7ebca; */
    color: white;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    /* background-image: linear-gradient( to bottom right, rgb(68, 29, 3), rgb(248, 242, 221)); */
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.about{
       background: 	#f2ebe9;
}
.about-story-wrapper {
    width: 80vw;
    height: auto;
    /* background: yellow; */
    margin: 4rem 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    /* border: 1px solid #2f2f2f; */
    border-radius: 10px;
}

.story-img img {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.story-para {
    font-size: 2rem;
    padding: 2rem;
    text-align: left;
}

.about-wrapper {
    width: 80vw;
    height: auto;
    margin: 0px auto;
    text-align: justify;
    font-size: 2.5rem;
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;

}

.about-content-wrapper {
    margin: 5rem 0px;
    font-size: 1.7rem;
    font-weight: 600;
   
}

.food {
    background: #eeeeee;
}

.food .slide {
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    transform: scale(0.9);
    opacity: 0.5;
    margin-bottom: 4rem;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: rgb(63, 26, 1);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}



#close-preview {
    position: absolute;
    padding: 10px;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

#close-preview:hover {
    transform: rotate(90deg);
    background-color: red;
}

.gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr ));
    gap:2rem;

}

.gallery .gallery-container .box {
    height: 25rem;
    position: relative;
    overflow: hidden;
    border: 2px solid grey;
    border-radius: 5px;
}

.gallery .gallery-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .gallery-container .box .icon {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(148, 145, 145, 0.452);
}

.gallery .gallery-container .box .icon i {
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

.gallery .gallery-container .box:hover .icon {
    display: flex;
}

.benefit-ul {
    transition: all 2s;
    display: block;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 10px white;
    padding: 2rem;
}




/* testimonials section start */

.testimonial-content.swiper {
    width: 100%;
    height: 100%;
}

.testimonial-content.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.testimonial-content.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-wrapper {
    width: 80vw;
    height: 60vh;
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
    border: #2f2f2f 1px solid;
    border-radius: 1rem;
    background: #EEEEEE;
}

.testimonial-content {
    width: 80%;
    height: 80%;
    /* background: #EEEEEE; */
    display: grid;
    /* border: 1px solid black;
    border-radius: 5px; */
    margin: 3rem auto;
    text-align: center;
    padding: 1rem;
}

.testimonial-profile {
    width: 100%;
    height: 80%;
    align-items: center;
    /* background: white; */
    display: grid;
    padding: 1rem;
}

.testimonial-profile img {
    width: 100px;
    height: 100px;
    position: relative;
    /* background: grey;
    border: 1px solid black; */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.testimonial-para {
    font-size: 1.5rem;
    padding: 1rem;
    /* font-weight: 600; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
}


/* testimonials section end */


/* reservation section start */

.reservation-wrapper {
    width: 80vw;
    height: auto;
    margin: 5rem auto;
    display: flexbox;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif !important;
    /* background:yellow; */
}

.reservation-info-wrapper:hover {
    transform: scale(1.01);
    box-shadow: 5px 10px 18px #888888;
}

.reservation-info-wrapper {
    width: 60vw;
    height:auto;
    display: flex;
    justify-content: space-between;
    background: #eeeeee;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3rem auto;
    transition: all 400ms;
}

.reservation-img {
    width: 40%;
    height: 100%;
    /* background: black; */
    border-right: 1px solid black;
}

.reservation-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-top-left-radius: 10px;
    /* display: none; */
}

.reservation-details {
    width: 58%;
    height: auto;
    /* background: green; */
}

/* .reservation-details,
h1,
p {
    margin: 1rem 0px;
} */

.reservation-details,
h1 {
    font-size: 3rem;
}


/* reservation section end */

.blogs {
    background: #eeeeee;
}

.swiper-wrapper {
    width: 100%;
}

.blogs .slide {
    height: 40%;
    width: 30%;
    margin: 2rem;
    justify-items: space-around;
}

.blogs .slide .image {
    overflow: hidden;
    position: relative;
    height: 50%;
}

.blogs .slide .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .slide .image span {
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    color: rgb(15, 15, 15);
    background: rgba(245, 230, 230, 0.336);
    z-index: 10;
}

.blogs .slide:hover .image span {
    bottom: 1rem;
}

.blogs .slide:hover .image img {
    transform: scale(1.1);
}

.blogs .slide .content {
    padding: 2rem;
    background: white;
    box-shadow: var(--box-shadow);
    border: var(--border);
    margin-bottom: 4rem;
    display: grid;
    justify-items: center;
}

.blogs .slide .content .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.blogs .slide .content .icon a {
    font-size: 1.5rem;
    color: #666;
}

.blogs .slide .content .icon a i {
    padding-right: 0.7rem;
    color: rgba(58, 30, 11, 0.856);
}

.blogs .slide .content .icon a:hover {
    color: #ddaa1e;
}

.blogs .slide .content .title {
    font-size: 2.5rem;
    color: black;
}

.blogs .slide .content .title:hover {
    text-decoration: underline;
}

.blogs .slide .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1rem;
    color: #666;
}

.contact {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 5rem auto;
    align-items: center;
}

.contact .form-wrapper {
    width: 50%;
    height: 100%;
    /* background: #ccc; */
}

.contact .footer-details {
    width: 50%;
    height: 100%;
    /* background: navy; */
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.google-map iframe {
    width: 100%;
    height: 30vh;
}

.cform {
    display: grid;
    justify-items: center;
    padding: 2rem;
    background-color: white;
}

.pform {
    display: grid;
    justify-items: center;
    padding: 2rem;
    /* background-color: #eeeeee; */
}

.pform input {
    margin: 1rem auto;
    border-bottom: 0.2rem solid black;
    width: 35rem;
    height: 5rem;
    font-size: 15px;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    background: white;
    transition: all 0.3s;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.cform input {
    margin: 1rem auto;
    border-bottom: 0.2rem solid black;
    width: 35rem;
    height: 5rem;
    font-size: 15px;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    background: white;
    /* box-shadow:0 0 10px black; */
    transition: all 0.3s;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}

/* .cform input:hover {
    transform: scale(1.05);
}

.pform input:hover {
    transform: scale(1.05);
} */
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
     white 0%,
    #44107a 29%,
    brown 67%,
    black 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  text-align: center;
      font-size: 4rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.waviy {
    position: relative;
    margin: 0px auto;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #000;
    font-weight: bolder;
        text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }


/* e-oredr section starts */

.e-order {
    width: 80vw  ;
    background:#EEEEEE;
    height: 50vh;
    margin: 2rem auto;
}
.order-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}
.order-content{
    width: 45%;
    background: #D9DCD8;
    height: 50%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.order-img{
    width: 55%;
    height: 100%;
}
.order-img img{
    width: 100%;
    height: 100%;
}
.order-img img:hover{
    transform: scaleX(1.1);
}
.order-details-wrapper>p{
    font-size: 1.5rem;
}
.order-details{
    width: 45%;
    height: 100%;
    border-left: 1px solid black;
}
.order-details-wrapper{
    width: 80%;
    margin: 0px auto;
    text-align: center;
    padding: 3rem;
}

/* .order-wrapper {
    width: 50%;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    grid-gap: 1rem;
 
}

.order-content {
width: auto;
  height: auto;
  border-radius: 20px;

}

.order-content .image {
    width: 100%;
    height: 40%;
}

.order-content .image img {
    width: 100%;
    height: 100%;
}
.order-content .content {
    padding: 2rem;
    background: #B5C1B4;
    box-shadow: var(--box-shadow);
    border: var(--border);
    height: 50%;
    margin-bottom: 4rem;
    display: grid;
    justify-items: center;
}
 .order-content .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color: #666;
}
 .order-content .content .title {
    font-size: 2.5rem;
    color: black;
} */


/* franchise section */

.franchise {
    padding: 0px;
    background: rgb(255, 255, 255);
    /* display: grid; */
    width: 100vw;
    height: auto;
}

.franchise-wrapper {
    width: 80vw;
    height: auto;
    display: grid;
    /* background: yellow; */
    overflow: hidden;
    margin: 0rem auto;
}

.franchise-row {
    width: 80vw;
    height: auto;
    display: grid;
    /* background: yellow; */
    margin: 0rem auto;
    margin-bottom: 10rem;
}

.franchise-details-wrapper {
    width: 80%;
    height: auto;
    /* background: red; */
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}

.franchise-para {
    width: 49%;
    height: auto;
    /* background: green; */
    font-size: 2rem;
    padding: 2rem;
}

.franchise-para p {
    margin: 4rem auto;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  
}

.franchise-image {
    width: 49%;
    height: 100%;
    /* background: green; */
}

.franchise-image img {
    width: 90%;
    height: 90%;
    background-size: cover;
    margin: 2em auto;
}

.franchise-form {
    width: 40vw;
    height: auto;
    /* margin: 3rem auto; */
    padding: 0px;
}

.module-wrapper {
    width: 100vw;
    height: auto;
    /* background: yellow; */
    margin: 3rem auto;
    display: grid;
    /* padding: 2rem; */
    color: white;
    animation-name: slidein;
    animation-duration: 1s;
    animation-delay: 5s;
    /* animation-iteration-count:initial; */
}

.br-btn {
    transition: all 0.3s;
    font-size: 2rem;
    border-radius: 10px;
}

.br-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.franchise.module-wrapper h1,
h2,
ul {
    padding: 2rem;
}


/* .franchise-form input{
    width: 40%;
    height: 10%;
} */

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.short {
    display: grid;
    gap: 5rem;
}

.icons-container .icons {
    text-align: center;
}

.icons-container .icons i {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: #565656;
    color: white;
    margin-bottom: 0.5rem;
    line-height: 5.8rem;
    font-size: 2rem;
    transition: all 0.2s;
}

.icons-container .icons i:hover {
    transform: scale(1.2);
}

.icons-container .icons h3 {
    font-size: 2rem;
    color: black;
    padding: 1rem;
}

.icons-container .icons p {
    line-height: 1.5;
    font-size: 1.7rem;
    color: black;
    text-transform: none;
}

.footer {
    text-align: center;
    /* padding-bottom: 10rem; */
    /* background: #eee9db; */
    background: #1B1924;
    height: auto;
}

.footer .icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .icons-container .icons {
    text-align: center;
    padding: 3rem 2rem;
}

.footer .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: #565656;
    color: white;
    margin-bottom: 0.5rem;
    line-height: 5.8rem;
    font-size: 2rem;
    transition: all 0.2s;
}

.footer .icons-container .icons i:hover {
    transform: scale(1.2);
}

.footer .icons-container .icons h3 {
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
}

.footer .icons-container .icons p {
    line-height: 1.5;
    font-size: 1.7rem;
    color: white;
    text-transform: none;
}

.footer .share {
    margin: 2rem 0;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    /* background-color: #25d366; */
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

.float img {
    width: 100%;
    height: 100%;
}

.footer .share a {
    height: 6rem;
    width: 6rem;
    line-height: 5.8rem;
    color: white;
    /* background: black; */
    margin: 0.2rem 0.3rem;
    font-size: 2.5rem;
    transition: all 0.3s;
    padding: 0.5rem;
}

.footer .share a:hover {
    /* background: linear-gradient(to bottom right, rgb(68, 29, 3), rgb(248, 242, 221)); */
    transform: scale(1.1);
}


@media (max-width: 2500px) {
 .order-content .order-details .btn{
    font-size:1.3rem; 
    padding: 1rem;
 }
 .order-content .order-details .order-details-wrapper> h1{
     font-size: 3rem;
 }
}
  
 

/* media queries  */
@media (width: 1024px) {
    section {
        padding: 4rem 5%;
    }
    .logo img{
        width: 130px;
        height: 110px;
    }
    .e-order{
        height: auto;
    }
    .order-wrapper{
                display: flex;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    .order-content{
        width: 50%;
        display: grid;
        height: auto;
        margin: 0px auto;
    }
    .order-content .order-img{
        width: 100%;
    }
    .order-details{
        border-left: none;
        border-top: 1px solid black;
        width: 100%;
    }
    
    
    /* .header{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 4rem;
        padding-left: 4rem;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background: #2f2f2f;
        z-index: 1000;
    }
    .header img {
        height: fit-content;
        width: 7rem;
    }
    
.header .navbar a {
    font-size: 1.8rem;
    padding: 1rem;
    font-weight: bold;
    outline: none;
    color: white;
    border-color: black;
    text-decoration: none;
} */
}

@media (max-width: 991px) {
    section {
        padding: 3rem 2rem;
    }
    html {
        font-size: 55%;
    }
    .home .slide .content h3 {
        font-size: 15vw;
    }
    .icons-container {
        display: flexbox;
        flex-direction: row;
        justify-content: space-around;
    }
    .order-wrapper{
        display: grid;
        grid-template-columns: 1fr;
  
    }
    .e-order{
        height: auto;
    }
    .order-wrapper{
                display: flex;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    .order-content{
        width: 50%;
        height: auto;
        display: grid;
        margin: 0px auto;
    }
    .order-content .order-img{
        width: 100%;
    }
    .order-details{
        border-top: 1px solid black;
        border-left: none;
        width: 100%;
    }

  
}

@media (max-width: 768px) {
    section {
        padding: 3rem 2rem;
    }
    #menu-btn {
        display: inline-block;

    }
    .fa-times {
        transform: rotate(180deg);
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-image: linear-gradient( to bottom right, rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.753));
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header {
   
        justify-content: space-between;
    }

    .header img {
        height: fit-content;
        width: 10rem;
    }
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
        display: block;
        margin: 0.5rem;
        color: white;
    }
    .home .slide {
        height: 30vh;
    }
    /* .header .navbar a:hover {
        color: white;
    } */
    .swiper-button-next,
    .swiper-button-prev {
        top: initial;
        bottom: 1rem;
    }
    .gallery-container{
        width: 70vw;
        margin: 0px auto;
    }
    .gallery .gallery-container .box{
        height: 13rem;
    }
    .food-preview{
        width: 90vw;
        margin: 0px auto;
    }
    .menu .slide .box-container .box {
        flex-flow: column;
        text-align: center;
    }
    .franchise-wrapper {
        display: flexbox;
        flex-direction: column;
        width: 100vw;
        height: auto;
        padding: 1rem;
        justify-content: center;
    }
    .franchise-row {
        display: flexbox;
        flex-direction: column;
        width: 100vw;
        height: auto;
        padding: 1rem;
        justify-content: center;
    }
    .franchise-details-wrapper {
        display: flexbox;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .franchise-para {
        width: 100%;
        height: 100%;
        /* background: green; */
        font-size: 2rem;
        padding: 0.2rem;
    }
    .contact {
        width: 100%;
        height: auto;
        /* background: yellow; */
        display: flexbox;
        flex-direction: column;
    }
    .cform {
        display: flexbox;
        flex-direction: column;
        margin: 0px auto;
    }
    .pform {
        display: flexbox;
        flex-direction: column;
        margin: 0px auto;
    }
    .contact .form-wrapper {
        width: 100%;
        height: 100%;
        /* background: yellow; */
    }
    .cform input {
        margin: 1rem auto;
        border-bottom: 1px solid black;
        width: 25rem;
        height: 5rem;
        font-size: 2rem;
        padding: 0rem 1rem;
        border-radius: 0.1rem;
        background: white;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
    }
    .pform input {
        margin: 1rem auto;
        border-bottom: 1px solid black;
        width: 25rem;
        height: 5rem;
        font-size: 2rem;
        padding: 0rem 1rem;
        border-radius: 0.1rem;
        background: white;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
    }
    .franchise-para h1 {
        font-size: 2rem;
    }
    .franchise-form {
        width: 100% !important;
        height: auto;
        margin: 4rem auto;
        padding: 0px;
    }
    .franchise-image {
        width: 100%;
        height: 100%;
        padding: 0px;
        /* background: green; */
    }
    .franchise-image img {
        padding: 0px;
    }
    .reservation-wrapper {
        width: 100vw;
        height: auto;
        margin: 5rem auto;
        display: flex;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 10px;
        /* background:yellow; */
    }
    .reservation-info-wrapper {
        width: 80vw;
        display: flexbox;
        height: auto;
        flex-direction: column;
        transition: all 400ms;
    }
    .reservation-img {
        width: 100%;
        height: 60%;
    }
    .reservation-details {
        width: 100%;
        height: auto;
        font-size: 2rem;
    }
    .reservation-info-wrapper:hover {
        transform: scale(1.05);
    }
    .form-wrapper {
        width: 80vw;
        height: auto;
        /* margin: 5rem auto;
        padding: 6rem 0rem; */
    }
    .icons-container {
        display: grid;
        justify-content: center;
    }
    .blogs {
        background: #eeeeee;
    }
    .blogs .swiper-wrapper {
        width: 100%;
        display: grid;
    }
    .blogs .slide {
        height: 40%;
        width: 100%;
        margin: 2rem;
        justify-items: space-around;
    }
    .order-wrapper{
        display: grid;
        grid-template-columns: 1fr;
  
    } 
    .testimonial-content {
        width: 100%;
    }
    .testimonial-wrapper{
        height: auto;
    }

    .about-story-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .e-order{
        height: auto;
    }
    .order-wrapper{
                display: flex;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    .order-content{
        width: 50%;
        height: auto;
        display: grid;
        margin: 0px auto;
    }
    .order-content .order-img{
        width: 100%;
    }
    .order-details{
        border-top: 1px solid black;
        border-left: none;
        width: 100%;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home .slide .content h3 {
        font-size: 7rem;
    }
    .story-para>p{
        font-size: 1.5rem;
    }
    .story-para>h1{
        font-size: 2.6rem !important;
    }
    .e-order{
        height: auto;
    }
    .order-wrapper{
                display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }
    .order-content{
        width: 90%;
        height: auto;
        display: grid;
        margin: 0px auto;
    }
    .order-content .order-img{
        width: 100%;
    }
    .order-details{
        border-top: 1px solid black;
        border-left: none;
        width: 100%;
    }
    .header {
   
        justify-content: space-between;
    }
    .nosh-burger{
        height: 10% !important;
    }

}